{
  "Version": 2,
  "Mixers": {
    "Guid": "ef689def-429a-460e-886e-38dcb48991c6",
    "Name": "Master",
    "Volume": 1,
    "Mute": false,
    "Solo": false,
    "Spacializing": 1,
    "DistanceAttenuation": 1,
    "Occlusion": 1,
    "AirAbsorption": 1,
    "Processors": [],
    "Children": [
      {
        "Guid": "125f3a5e-b8a6-4b99-8f1c-f0d88926ef38",
        "Name": "Music",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      },
      {
        "Guid": "709a159a-3f61-4a84-953a-2cb56386bd0b",
        "Name": "Game",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 1,
        "DistanceAttenuation": 1,
        "Occlusion": 1,
        "AirAbsorption": 1,
        "IsDefault": true,
        "Processors": [],
        "Children": [
          {
            "Guid": "da4a50df-7397-4892-b34b-8e06007b685d",
            "Name": "Explosion",
            "Volume": 1,
            "Mute": false,
            "Solo": false,
            "Spacializing": 1,
            "DistanceAttenuation": 1,
            "Occlusion": 1,
            "AirAbsorption": 1,
            "Processors": [
              {
                "Effect": "outside.large",
                "Enabled": true,
                "Mix": 0.31,
                "__type": "DspProcessor"
              }
            ],
            "Children": []
          }
        ]
      },
      {
        "Guid": "2fb469c0-9222-481c-b721-fb16d6cc43d4",
        "Name": "UI",
        "Volume": 1,
        "Mute": false,
        "Solo": false,
        "Spacializing": 0,
        "DistanceAttenuation": 0,
        "Occlusion": 0,
        "AirAbsorption": 0,
        "Processors": [],
        "Children": []
      }
    ]
  },
  "__guid": "35875a4d-e3fb-43c4-8da7-05a8c60bc5f1",
  "__schema": "configdata",
  "__type": "MixerSettings",
  "__version": 2
}